/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}

button {
    font-size: 1rem;
    cursor: pointer;
}

input[type="number"], select {
    padding: 8px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

/* Profile Page */
.profile-page {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.profile-page ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-page li {
    padding: 5px 0;
}

/* Shot Recommendation Page */
.shot-recommendation-page {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

.shot-recommendation-page input {
    width: 100%;
    margin-bottom: 15px;
}

/* App Styles */
.App {
    text-align: center;
}

/* Button and Input Styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

select, input {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Course Dropdown */
#course-dropdown, #target-distance {
    width: 100%;
}

/* Recommendation Section */
#recommendation-container {
    margin-top: 30px;
}

#profile-info, #recommendation-info {
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #333;
}
